* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 18px;
}

.front_page {
    margin: 50px auto;
}

#header,
.content_header {
    font-weight: 300;
    font-size: 60px;
}

.nav_tabs_1 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.nav_tabs_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    padding: 20px;
    cursor: pointer;
}

.year_of_made {
    margin-top: 300px;
}

#za4em_text {
    width: 800px;
    margin-left: auto; 
    margin-right: 250px;
    text-align: right;
}

.page_switch {
    display: flex;
    justify-content: center;
}

.switch1,
.switch2 {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.content_header {
    margin-left: auto; 
    margin-right: 250px;
    width: 800px;
    text-align: right;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }